//Colors
$grey:#a5a5a5;
$black:#4c4c4c;
$green: #1abc9c;
$blue: #f7f7f7;
//Font-sizes
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-mediumBig: 18px;
$font-size-mediumSuperBig: 19px;
$font-size-largeOne: 60px;
$font-size-largeTwo: 48px; 
